<h4><u>Author</u></h4> {{question.author}}
<br>
<h4><u>Content</u></h4>{{question.content}}
<br>
<h4><u>Notes</u></h4>{{question.notes}}
<br>
<br>
<button {{action 'delete' question}}>Delete This Question</button>
<br>
<hr>
<h3>Answers</h3>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
    <button {{action 'delete' answer}}>Delete This Answer</button>
    <br>
  {{/each}}
<br>
