<h2>More information about {{model.author}}'s question: {{model.content}}</h2>
{{output}}
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{new-answer saveAnswer="saveAnswer" question=model}}
